@font-face{font-family:monument extended;font-style:normal;font-weight:400;src:local('Monument Extended'),url(https://fonts.cdnfonts.com/s/19595/MonumentExtended-Regular.woff) format('woff')}@font-face{font-family:monument extended;font-style:normal;font-weight:800;src:local('Monument Extended'),url(https://fonts.cdnfonts.com/s/19595/MonumentExtended-Ultrabold.woff) format('woff')}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
    background-color: rgb(254, 255, 255);
}

body{
    height: 100%;
    width: 100%;
}

body #main{
    height: 100%;
    width: 100%;
    position: relative;
}

#main #nav{
    height: 100%;
    width: 100%;
    padding-left: 2.5vw;
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    cursor: default;
}

#nav h1{
    font-family: 'monument extended';
    font-size: 40px;
    position: relative;
    width: 20%;
}

#nav h2, #nav i{
    height: 10vh;
    width: 22%;
    font-size: 18px;
    font-family: 'gilroy';
    font-weight:500;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#nav h2:nth-last-child(2){
    width: 26%;
}

#nav i{
    width: 10%;
    border-right: none;
}

#nav h1::after{
    content: "©";
    font-weight: 500;
    font-size: 18px;
    font-family: 'gilroy';
    position: absolute;
    top: 3px;
    padding-left: 2px;
}

#nav h1::before{
    content: "model management";
    font-weight: 800;
    color: gray;
    font-size: 13px;
    font-family: 'gilroy';
    position: absolute;
    top: 35px;
    padding-left: 95px;
}

#main #center{
    height: 600px;
    width: 100%;
    position: relative;
    padding: 3vw;
    overflow-x: hidden;
}

#center #content{
    height: 100%;
    width: 100%;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#center #top{
    height: 150px;
    width: 85%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 150px;
    left: 100px;
    padding-bottom: 20px;
    background: none;
    border-bottom: 2px solid white;
    cursor: default;
}

#top #top-left{
    position: absolute;
    margin-right: 600px;
    background: none;
}

#top-left h4{
    font-family: monument extended;
    font-size: 62px;
    letter-spacing: 1px;
    background: none;
    color: white;
}

#top #top-right{
    height: 80px;
    width: 80px;
    margin-left: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(164, 164, 164);
    border-right: 2px solid white;
    border-radius: 50%;
    background: none;
}

#top-right h3{
    color: white;
    background: none;
}

#center #bottom{
    height: 100px;
    width: 85%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 60px;
    left: 7.2vw;
    padding-bottom: 20px;
    background: none;
}

#bottom h5, #bottom i{
    font-family: 'gilroy';
    font-size: 18px;
    background: none;
    color: white;
    cursor: default;
}

#bottom i{
    font-size: 50px;
    cursor: pointer;
}

#main #scroll{
    width: 100%;
    height: 200px;
    margin-top: 2vw;
}

#scroll #images{
    width: 180%;
    height: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    animation-name: myanimation; 
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#images #part{
    height: 100%;
    width: 100%;
    display: inline;
}

#part img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position:center;
    border-radius: 50%;
    padding: 1vw;
}

@keyframes myanimation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-39%);
    }
}

#images::-webkit-scrollbar{
    display: none;
}

#main #alphabets{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    top: 5px;
    padding: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    font-family: 'gilroy';
}

#alphabets h2{
    text-decoration: underline;
    font-style: italic;
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
}

#alphabets h3{
    font-style: italic;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    cursor: default;
}

#alphabets h3:hover{
    border: 2px solid black;
    border-radius: 50%;
}

#page1{
    height: 600px;
    width: 100%;
    padding: 4vw;
    display: flex;
    gap: 40px;
    margin-left: 3vw;
    padding-bottom: 15px;
    cursor: default;
}

#page1-left{
    width: 60%;
    height: 100%;
}

#page1-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page1-left p{
    font-family: 'monument extended';
    font-size: 25px;
    padding-top: 1.7vw;
    font-weight: bold;
    letter-spacing: 1px;
}

#page1-right{
    width: 60%;
    height: 100%;
    margin-right: 4vw;
}

#page1-right #right-image{
    height: 75%;
    width: 100%;
}

#right-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page1-right #para{
    height: 30%;
    width: 100%;
}

#para{
    padding-top: 20px;
    display: flex;
    gap:20px;
}

#para #para1{
    width: 80%;
    font-weight:700 ;
    font-size: large;
}

#para #para2{
    font-weight:400 ;
    font-size: medium;
}

#page2{
    position: relative;
    height: 600px;
    width: 80%;
    padding: 4vw;
    display: flex;
    gap: 40px;
    margin-left: 10vw;
    padding-bottom: 15px;
    margin-top: 3vw;
    align-items: center;
    justify-content: space-between;
}

#page2-left{
    position: absolute;
    height: 100%;
    width: 50%;
    display: block;
}

#page2-left #arrow-img{
    position: absolute;
    width: 18%;
    height: 60px;
    bottom: 290px;
    margin-left: 6vw;
}

#page2-left p{
    position: absolute;
    width: 65%;
    height: 30px;
    font-family: 'gilroy';
    font-weight: 600;
    font-size: 20px;
    bottom: 2vw;
    cursor: default;
}

@keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#page2-left #circle-img {
    margin-top: 10vw;
    width: 50%;
    height: 50%;
    object-fit: cover;
    animation: rotateImage 8s linear infinite;
}

#page2-right{
    height: 100%;
    width: 50%;
    margin-left: 460px;
}

#page2-right img{
    position: absolute;
    width: 60%;
    height: 600px;
}

#page3{
    height: 600px;
    width: 88%;
    padding: 4vw;
    margin-left: 3vw;
    margin-top: 5.5vw;
    position: relative;
}

#page3 img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page4{
    position: relative;
    height: 600px;
    width: 88%;
    margin-left: 6.7vw;
    margin-top: 11vw;
}

#page4 #heading{
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 4.5vw;
}

#heading h1{
    font-family: 'monument extended';
    font-size: 35px;
    letter-spacing: 1px;
}

#page4 #row1{
    position: absolute;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    padding: 1vw;
    border-bottom: 2px solid black;
}

#page4 #row-left{
    width: 16%;
    height: 100%;
    padding-left: 1vw;
}

#page4 h5{
    cursor: pointer;
    font-weight: 700;
    width: 30%;
}

#page4 #row-mid{
    width: 20%;
    height: 100%;
}

#row1 #row-mid img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: 50%;
}

#page4 #row-right{
    width: 30%;
    height: 100%;
    margin-left: 10vw;
    cursor: default;
    padding-top: 1vw;
}

#page4 #row-right h6{
    font-weight: 400;
}

#page4 #row-right h1{
    font-weight: 500;
}

#page4 #row2{
    position: absolute;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    padding: 1vw;
    border-bottom: 2px solid black;
    margin-top: 9vw;
}

#row2 #row-mid img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: 50%;
}

#page4 #row3{
    position: absolute;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    padding: 1vw;
    border-bottom: 2px solid black;
    margin-top: 18vw;
}

#page4 #row3 #row-mid{
    padding-top: 1vw;
}

#page4 #row3 #row-mid h1{
    font-weight: 500;
}

#page4 #row3 #row-mid h6{
    font-weight: 400;
}

#page4 #row4{
    position: absolute;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    padding: 1vw;
    border-bottom: 2px solid black;
    margin-top: 27vw;
}

#page4 #row4 #row-right{
    margin-left: 368px;
}

#page5{
    position: relative;
    height: 600px;
    width: 88%;
    display: flex;
    align-items: center;
    margin-top: 9vw;
    margin-left: 6.7vw;
    cursor: default;
}

#page5-left{
    position: absolute;
    height: 100%;
    width: 40%;
}

#page5-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page5-right{
    position: absolute;
    height: 100%;
    width: 55%;
    display: block;
    margin-left: 530px;
}

#p5-div1{
    width: 100%;
    height: 42%;
    position: absolute;
}

#page5-right h1{
    font-family: 'monument extended';
    letter-spacing: 1px;
}

#page5-right h1{
    font-family: 'monument extended';
}

#page5-right h2{
    font-weight: 500;
    padding-right: 270px;
    margin-top: 2vw;
}

#page5-right p{
    margin-top: 3vw;
    padding-right: 50px;
}

#p5-div2{
    position: absolute;
    height: 54.4%;
    width: 100%;
    margin-top: 20vw;
    display: flex;
    align-items: center;
}

#p5-div2 #img1{
    height: 100%;
    width: 60%;
}

#p5-div2 #img1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#p5-div2 #img2{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: right;
}

#p5-div2 #img2 img{
    height: 100%;
    width: 80%;
    object-fit: cover;
    object-position: center;
}

#page6{
    position: relative;
    height: 500px;
    width: 88%;
    margin-top: 6vw;
    margin-left: 6.7vw;
}

#page6 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#page7{
    position: relative;
    height: 620px;
    width: 88%;
    display: flex;
    align-items: center;
    margin-top: 5vw;
    margin-left: 6.7vw;
    cursor: default;
}

#page7-left{
    position: absolute;
    height: 100%;
    width: 50%;
}

#page7-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#page7-right{
    position: absolute;
    height: 100%;
    width: 38%;
    display: block;
    margin-left: 734px;
}

#p7-div1{
    position: absolute;
    height: 70%;
    width: 100%;
}

#p7-div1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#p7-div2{
    position: absolute;
    display: flex;
    height: 29%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 32vw;
    padding-top: 3vw;
}

#p7-div2 h2{
    height: 100%;
    width: 58%;
    font-weight: 500;
}

#p7-div2 h6{
    height: 100%;
    width: 50%;
    font-weight: 400;
    font-size: 12px;
    padding-left: 2vw;
}

#blog-scroll{
    position: relative;
    height: 80px;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 6vw;
    overflow: hidden;
    gap: 20px;
    cursor: default;
}

#blog-scroll::-webkit-scrollbar{
    display: none;
}

#blog-scroll span {
    font-family: 'monument extended';
    font-weight: bold;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
    color: transparent;
    letter-spacing: 3px;
    white-space: nowrap;
    animation: myanimation1 5s linear infinite;
}

@keyframes myanimation1 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#page8{
    position: relative;
    height: 480px;
    width: 88%;
    display: flex;
    align-items: center;
    margin-top: 5vw;
    margin-left: 6.7vw;
    cursor: default;
}

#page8-left{
    position: absolute;
    height: 100%;
    width: 20%;
}

#page8-left h1{
    font-family: 'monument extended';
}

#page8-mid{
    position: absolute;
    height: 100%;
    width: 40%;
    display: block;
    margin-left: 14vw;
}

#page8-mid text{
    height: 30%;
    width: 100%;
}

#page8-mid h2{
    height: 100%;
    width: 100%;
    font-weight: 500;
}

#page8-mid #image{
    height: 70%;
    width: 100%;
    margin-top: 3vw;
}

#image img{
    height: 90%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page8-right{
    position: absolute;
    height: 100%;
    width: 40%;
    display: block;
    margin-left: 52vw;
}

#page8-right text{
    height: 30%;
    width: 100%;
}

#page8-right h2{
    height: 100%;
    width: 100%;
    font-weight: 500;
}

#page8-right #image{
    height: 70%;
    width: 100%;
    margin-top: 3vw;
}

#footer{
    position: relative;
    display: flex;
    height: 250px;
    width: 100%;
    margin-top: 8vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    cursor: default;
}

#footer-left{
    position: absolute;
    padding-left: 4vw;
    height: 100%;
    width: 40%;
    padding-top: 2vw;
}

#footer h1{
    font-family: 'monument extended';
    font-size: 40px;
    position: relative;
    width: 45%;
}

#footer h1::after{
    content: "©";
    font-weight: 500;
    font-size: 18px;
    font-family: 'gilroy';
    position: absolute;
    top: 3px;
    padding-left: 2px;
}

#footer h1::before{
    content: "model management";
    font-weight: 800;
    color: gray;
    font-size: 13px;
    font-family: 'gilroy';
    position: absolute;
    top: 35px;
    padding-left: 95px;
}

#footer-left1{
    position: absolute;
    margin-left: 22vw;
    height: 100%;
    width: 20%;
    border-right: 2px solid black;
}

#footer h2{
    height: 10vh;
    width: 100%;
    font-size: 18px;
    font-family: 'gilroy';
    font-weight:500;
    padding-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#footer-mid{
    position: absolute;
    margin-left: 42vw;
    height: 100%;
    width: 20%;
    border-right: 2px solid black;
}

#footer-right{
    position: absolute;
    margin-left: 61.8vw;
    height: 100%;
    width: 37.5%;
    display: block;
}

#f-div1{
    width: 100%;
    height: 40%;
    border-bottom: 2px solid black;
}

#f-div2{
    width: 100%;
    height: 60%;
}

#f-div2 #links{
    width: 80%;
    height: 20%;
    padding-top: 1.5vw;
    padding-left: 2vw;
}

#links i{
    padding-right: 1vw;
    font-size: 15px;
}

#links i:hover{
    cursor: pointer;
}

#f-div2 #copyright{
    width: 80%;
    height: 40%;
    margin-top: 2vw;
    padding-left: 2vw;
}

#copyright h3, #copyright i{
    font-size: 15px;
    font-weight: 500;
}